.LogIn {
  header {
    background: var(--primary-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 28px;

    img {
      height: 40px;
      width: auto;

      @media (max-width: 768px) {
        height: 30px;
      }
    }

    @media (max-width: 768px) {
      padding-block: 20px;
    }
  }

  .container {
    max-width: 1024px;
    margin-inline: auto;
    padding-inline: 15px;

    & > :first-child {
      margin-top: 30px;
      font-size: 20px;
      color: var(--font-color);
      display: block;
      width: 100%;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        height: 5px;
        width: 100%;
        bottom: -15px;
        background-color: var(--on-hover-primary-color);
        border-radius: 100px;
      }
    }

    & > :nth-child(2) {
      color: var(--icon-color);
      font-weight: 300;
      font-size: 30px;
      margin-block: 10px;
      margin-block: 23px;
    }

    p {
      font-weight: bold;
      font-size: 19px;
      color: #000000b2;
    }

    & > :nth-child(4) {
      margin-top: 80px;
      width: 400px;

      .ant-form-item {
        margin-bottom: 50px;
        label {
          font-size: 20px;
        }
        input,
        .ant-input-password {
          border-radius: 0px;
        }
        .ant-input-password {
          padding-left: 0px;

          &:focus-within {
            border-color: red;
            box-shadow: 0 0 0 2px #ff000021;
          }
        }
        input {
          padding-inline: 15px;
          font-size: 20px;
          &:focus {
            border-color: red;
            box-shadow: 0 0 0 2px #ff000021;
          }
        }

        & > :last-child {
          margin-bottom: 55px;

          @media (max-width: 575px) {
            margin-bottom: 20px;
          }
        }

        @media (max-width: 575px) {
          margin-bottom: 9px;
        }
      }

      @media (max-width: 768px) {
        margin-top: 30px;
      }
      @media (max-width: 640px) {
        width: 100%;
      }
    }

    & > :nth-child(5) {
      display: flex;
      flex-direction: column;
      gap: 7px;
      font-weight: 600;

      a {
        text-decoration: none;
        font-weight: 400;
        color: var(--secondary-blue-color);
      }
    }

    & > :nth-child(6) {
      display: flex;
      gap: 10px;
      width: 100%;
      margin-top: 15px;

      button {
        border: 0px;
        border-radius: 4px;
        padding-block: 9px;
        font-size: 19px;
        width: 200px;
        font-weight: 500px;

        @media (max-width: 640px) {
          width: 100%;
        }
      }
      & > :first-child {
        margin-left: auto;

        @media (max-width: 640px) {
          margin-left: 0px;
        }
      }
      & > :last-child {
        background-color: var(--on-hover-primary-color);
        color: var(--light-color);
      }

      @media (max-width: 640px) {
        justify-content: center;
        align-items: center;
      }

      @media (max-width: 475px) {
        flex-direction: column;
      }
    }
  }
}
